{% extends "line_chart/base.html" %}
{% block content %}

<script type="text/javascript">
function StringtoFloat_messwerte(string_array){
    var messwerte_array=[];
    var tmp = '';
    var check;
    for (var i=0; i<=string_array.length; i++){
        check = parseInt(string_array[i]);
        if (isNaN(check)==false){
            tmp+=string_array[i];
        }
        else if (string_array[i]=='.'){
            tmp+=string_array[i];
        }
        else if (string_array[i]==',' && tmp!=''){
            messwerte_array.push(parseFloat(tmp));
            tmp='';
        }
        else if (string_array[i]==']'){
            return messwerte_array;
        }
    }
};

function StringtoFloat_datum(string_array){
    var datum_array=[];
    var tmp = '';
    var check;
    for (var i=0; i<=string_array.length; i++){
        check = parseInt(string_array[i]);
        if (isNaN(check)==false){
            tmp+=string_array[i];
        }
        else if ((string_array[i]=='-' || string_array[i]==' ' || string_array[i]==':' || string_array[i]=='&' || string_array[i]==';') && tmp!=''){
            datum_array.push(parseFloat(tmp));
            if (string_array[i]==';'){
                datum_array.pop();
            }
            tmp='';
        }
        else if (string_array[i]==']'){
            return datum_array;
        }
    }
};

function min_max(messwerte_array){
    var min=10000000.0;
    var max=0.0;
    for (var i=0; i<=messwerte_array.length; i++){
        if (messwerte_array[i] > max){
            max = messwerte_array[i];
        }
        else if (messwerte_array[i] < min){
            min = messwerte_array[i];
        }
    }
    return [min, max];
};


window.onload = function () {
console.log(new Date(2000,1,3));
var messwerte = "{{messwerte}}";
messwerte_array = StringtoFloat_messwerte(messwerte);       
var extrema=min_max(messwerte_array);
var min = extrema[0];
var max = extrema[1];

var datum = "{{datum}}";
datum_array=StringtoFloat_datum(datum);
console.log(datum_array);
    
var interval="{{interval}}"
var intervalType="{{intervalType}}"

var chart = new CanvasJS.Chart("chartContainer",
{
    zoomEnabled: true,
    animationEnabled: true,
    title:{
        text: "Messwerte vom Jahr " + datum_array[0]
},
axisX:{
    title: "Time",
    interval: (24*60*31*2),
    intervalType: "minute",
    valueFormatString:"MMM-YYYY"
},
axisY2:{
    valueFormatString:"0.00000 kg",
    minimum: 0.999*min,
    maximum: 1.001*max,
    interval: (1.001*max-0.999*min)/8,
    interlacedColor: "#F5F5F5",
    gridColor: "#D7D7D7",      
    tickColor: "#D7D7D7"                                
},
theme: "theme2",
toolTip:{
    shared: true,
    animationEnable:true,
    contentFormatter: function(e) {
        var date = e.entries[0].dataPoint.x;
        var value = e.entries[0].dataPoint.y;
        return CanvasJS.formatDate(date, "DD-MMM-YYYY hh:mm") + "<br> Messwert: " + value;
    }
},
legend:{
verticalAlign: "bottom",
horizontalAlign: "center",
fontSize: 15,
fontFamily: "Lucida Sans Unicode"

},
data: [
{        
type: "line",
lineThickness:3,
axisYType:"secondary",
showInLegend: true,           
name: "Messwert", 
dataPoints: [
{ x: new Date(2000,1,3,1,1), y: messwerte_array[0]},
{ x: new Date(2000,3,4,1,1), y: messwerte_array[1]},
{ x: new Date(2000,5,5,1,2), y: messwerte_array[2]},
{ x: new Date(2000,11,7,1,1), y: messwerte_array[3]}
]
}



],
legend: {
cursor:"pointer",
itemclick : function(e) {
if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
e.dataSeries.visible = false;
}
else {
e.dataSeries.visible = true;
}
chart.render();
}
}
});

chart.render();
}
</script>

<script type='text/javascript'>
$(function(){
    $('.input-daterange').datepicker({
        autoclose:true
    });
});
</script>

<div class="row">
    <div class=col-sm-1>
    </div>
    <div class="col-sm-10">
        <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="form" placeholder="From date" id="date_from" />
                <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="to" placeholder="To date" id="date_to" />
        </div>
    </div>
</div>

<br>

<script type='text/javascript'>
$(document).ready(function(){
    $("input").change(function(){
        var input_date_from=$("#date_from").val();
        var input_date_to=$("#date_to").val();
        $.ajax({
            url:"/a/",
            type:"POST",
            dataType:"json",
            data:{
                date_to:input_date_from,
                date_from:input_date_to,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success: function(json){
                alert("geschafft");
            },
            error:function(){
                alert("Fehler");
            }
        });
        return false;
    });
});
</script>
        
<div id="chartContainer" style="height: 600px; width: 100%;">
</div>
</body>
</html>

{% endblock %}
